/* pending-job */

.dash-sec {
    padding: 60px 0;
    float: left;
    width: 100%;
}
section.bottom-btn-job {
    padding: 0 0 30px;
    float: left;
    width: 100%;
}
.new-para {
    background: #f47c48;
    padding: 25px 0px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    border-radius: 4px;
	margin-top: 21px;
    
}
.new-para-1{
    background: #f47c48;
    padding: 35px 0px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    border-radius: 4px;
	margin-top: 20px;
	margin-left: 8px;
	max-width:455px;
}
.pending-new {
    padding: 20px 0 10px;
}
.new-para h3 {
     padding: 0 25px;
}
.new-para p{
    padding: 0 26px;
}
ul.list-date {
    list-style: none;
}
ul.list-date li {
    padding: 7px 0;
}
.modal-btn-text {
    text-align: left;
    padding: 20px 35px;
}
/* .modal-btn-text h6 { */
    /* font-weight: 600; */
    /* font-size: 17px; */
/* } */
.modal-btn-text h4 {
    padding: 15px 18px;
    background: #f47c48;
    font-size: 25px;
    box-shadow: 0 0 black;
	border-radius: 4px;
}
.modal-title {
    font-size: 32px;
}
.modal-btn-text {
    text-align: left;
    padding: 20px 35px;
}
.pd-top {
    padding: 10px 0;
}

.chat{
		margin-top: auto;
		margin-bottom: auto;
		}
		.card {
    height: 608px;
    border-radius: 5px !important;
    background-color: #f47c48;
    border: none;
        margin-top: 19px;
}
		.contacts_body{
			padding:  0.75rem 0 !important;
			overflow-y: auto;
			white-space: nowrap;
		}
		.msg_card_body{
			overflow-y: auto;
		}
		.card-header{
			border-radius: 15px 15px 0 0 !important;
			border-bottom: 0 !important;
		}
	 .card-footer{
		border-radius: 0 0 15px 15px !important;
			border-top: 0 !important;
	}
		.container{
			align-content: center;
		}
		.search{
			border-radius: 15px 0 0 15px !important;
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color:white !important;
		}
		.search:focus{
		     box-shadow:none !important;
           outline:0px !important;
		}
		.type_msg{
		background-color: rgba(0, 0, 0, 0.18) !important;
			border:0 !important;
			color:white !important;
			height: 60px !important;
			overflow-y: auto;
		}
			.type_msg:focus{
		     box-shadow:none !important;
           outline:0px !important;
		}
		textarea.form-control.type_msg::placeholder {
    color: #d7d7d7;
    }
		.attach_btn{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0, 0, 0, 0.18) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.send_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0, 0, 0, 0.18) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.search_btn{
			border-radius: 0 15px 15px 0 !important;
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.contacts{
			list-style: none;
			padding: 0;
		}
		.contacts li{
			width: 100% !important;
			padding: 5px 10px;
			margin-bottom: 15px !important;
		}
	.active{
			background-color: rgba(0,0,0,0.3);
	}
		.user_img{
			height: 60px;
			width: 60px;
			border:1.5px solid #f5f6fa;
		
		}
		.user_img_msg{
			height: 40px;
			width: 40px;
			border:1.5px solid #f5f6fa;
		
		}
	.img_cont{
			position: relative;
			height: 60px;
			width: 60px;
	}
	.img_cont_msg{
			height: 40px;
			width: 40px;
	}
	.online_icon{
		position: absolute;
		height: 15px;
		width:15px;
		background-color: #4cd137;
		border-radius: 50%;
		bottom: 0.2em;
		right: 0.4em;
		border:1.5px solid white;
	}
	.offline{
		background-color: #c23616 !important;
	}
	.user_info{
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 15px;
	}
	.user_info span{
		font-size: 20px;
		color: white;
	}
	.user_info p{
	font-size: 10px;
	color: rgba(255,255,255,0.6);
	}
	.video_cam{
		margin-left: 50px;
		margin-top: 5px;
	}
	.video_cam span{
		color: white;
		font-size: 20px;
		cursor: pointer;
		margin-right: 20px;
	}
	.msg_cotainer{
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 10px;
		border-radius: 25px;
		background-color: #82ccdd;
		padding: 10px;
		position: relative;
		width: calc(100% - 40px);
	}
	.msg_cotainer_send{
		margin-top: auto;
		margin-bottom: auto;
		margin-right: 10px;
		border-radius: 25px;
		background-color: #cccccc;
		padding: 10px;
		position: relative;
		width:90%;
	}
	.msg_time{
		position: absolute;
		left: 0;
		bottom: -15px;
		color: rgba(255,255,255,0.5);
		font-size: 10px;
	}
	.msg_time_send{
		position: absolute;
		right:0;
		bottom: -15px;
		color: rgba(255,255,255,0.5);
		font-size: 10px;
	}
	.msg_head{
		position: relative;
	}
	#action_menu_btn{
		position: absolute;
		right: 10px;
		top: 10px;
		color: white;
		cursor: pointer;
		font-size: 20px;
	}
	.action_menu{
		z-index: 1;
		position: absolute;
		padding: 15px 0;
		background-color: rgba(0,0,0,0.5);
		color: white;
		border-radius: 15px;
		top: 30px;
		right: 15px;
		display: none;
	}
	.action_menu ul{
		list-style: none;
		padding: 0;
	margin: 0;
	}
	.action_menu ul li{
		width: 100%;
		padding: 10px 15px;
		margin-bottom: 5px;
	}
	.action_menu ul li i{
		padding-right: 10px;
	
	}
	.action_menu ul li:hover{
		cursor: pointer;
		background-color: rgba(0,0,0,0.2);
	}
@media(max-width: 575px){
.contacts_card{
	margin-bottom: 15px !important;
}
.input-sec-1 {
padding: 15px 0 !important;
}
.new-para h3 {
    padding: 0 10px;
}
.dash-sec {
    padding: 30px 0;
}
}

.container-1
			{
				width: 100%;
				margin: 0px 0px 0;
			}

				.container-1 h1
				{
					font-size: 42px;
					font-weight: 300;
					color: #0f3c4b;
					margin-bottom: 40px;
				}
				
					.container-1 nav a:not( .is-selected ):hover,
					.container-1 nav a:not( .is-selected ):focus
					{
						border-bottom-color: #0f3c4b;
					}


				.box
				{
					font-size: 1.25rem; /* 20 */
					background-color: #ffffff;
					position: relative;
					padding: 10px;
				}

				.box.has-advanced-upload
				{
					outline: 2px dashed #92b0b3;
					outline-offset: -10px;

					-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
					transition: outline-offset .15s ease-in-out, background-color .15s linear;
				}
				.box.is-dragover
				{
					outline-offset: -20px;
					outline-color: #c8dadf;
					background-color: #fff;
				}
					.box__dragndrop,
					.box__icon
					{
						display: none;
					}
					.box.has-advanced-upload .box__dragndrop
					{
						display: inline;
					}
					.box.has-advanced-upload .box__icon
					{
						width: 100%;
						height: 38px;
						fill: #92b0b3;
						display: block;
						margin-bottom: 12px;
						margin-top: 20px;
					}

					.box.is-uploading .box__input,
					.box.is-success .box__input,
					.box.is-error .box__input
					{
						visibility: hidden;
					}

					.box__uploading,
					.box__success,
					.box__error
					{
						display: none;
					}
					.box.is-uploading .box__uploading,
					.box.is-success .box__success,
					.box.is-error .box__error
					{
						display: block;
						position: absolute;
						top: 50%;
						right: 0;
						left: 0;

						-webkit-transform: translateY( -50% );
						transform: translateY( -50% );
					}
					.box__uploading
					{
						font-style: italic;
					}
					.box__success
					{
						-webkit-animation: appear-from-inside .25s ease-in-out;
						animation: appear-from-inside .25s ease-in-out;
					}
						@-webkit-keyframes appear-from-inside
						{
							from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
							75%		{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
							to		{ -webkit-transform: translateY( -50% ) scale( 1 ); }
						}
						@keyframes appear-from-inside
						{
							from	{ transform: translateY( -50% ) scale( 0 ); }
							75%		{ transform: translateY( -50% ) scale( 1.1 ); }
							to		{ transform: translateY( -50% ) scale( 1 ); }
						}

					.box__restart
					{
						font-weight: 700;
					}
					.box__restart:focus,
					.box__restart:hover
					{
						color: #39bfd3;
					}

					.js .box__file
					{
						width: 0.1px;
						height: 0.1px;
						opacity: 0;
						overflow: hidden;
						position: absolute;
						z-index: -1;
					}
					.js .box__file + label
					{
						max-width: 80%;
						text-overflow: ellipsis;
						white-space: nowrap;
						cursor: pointer;
						display: inline-block;
						overflow: hidden;
					}
					.js .box__file + label:hover strong,
					.box__file:focus + label strong,
					.box__file.has-focus + label strong
					{
						color: #39bfd3;
					}
					.js .box__file:focus + label,
					.js .box__file.has-focus + label
					{
						outline: 1px dotted #000;
						outline: -webkit-focus-ring-color auto 5px;
					}
						.js .box__file + label *
						{
							/* pointer-events: none; */ /* in case of FastClick lib use */
						}

					.no-js .box__file + label
					{
						display: none;
					}

					.no-js .box__button
					{
						display: block;
					}
					.box__input {
						font-size: 15px;
						text-align: center;
					}
	.box__button {
    color: #ffffff;
    background-color: #f58250;
    display: block;
    padding: 4px 9px;
    margin: 10px auto 15px;
    font-size: 14px;
    box-shadow: none;
    border: none;
    border-radius: 7%;
}
.box__button:hover,
						.box__button:focus
						{
							background-color: #0f3c4b;
						}
.mb-new-width {
    width: 100%;
}
.new-input {
    border-radius: 0px 3px 3px 0px !important;
}
.input-sec-1 {
    padding: 15px 40px;
}
.head-part {
    padding: 11px 15px;
}
.head-part h5 {
    font-size: 18px !important;
}
.offer-box-job {
    background: linear-gradient(to left,rgba(255,255,255,0) 25%,rgba(255,255,255,0.2));
    background-color: #f47c48;
    color: #ffff;
    max-width: 100%;
    padding: 0;
    text-align: center;
    margin-left: 1px;
    border-radius: 5px;
    position: relative;
    margin-top: 19px;
    height: 200px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}
.icon-style{
    float:right;
    font-size: 25px;
}
.btn-light-2 {
    color: #fff;
    background: #f47c48;
    border-color: #f47c48;
    padding: 6px 0px;
    border-radius: 24px;
}
.btn-light-2:hover {
    color: #fff;
    background: #f47c48;
    border-color: #f47c48;
    padding: 6px 0px;
    border-radius: 24px;
}
.modal-date {
    background-color: #f47c48;
}
.modal-t {
    color: #fff;
    text-align: center;
    font-size: 30px !important;
}
.modal-btn-text span {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
.input-modal-custom {
    padding: 15px 0;
}
i.far.fa-calendar-alt {
    color: #5f5f5f;
}
i.fas.fa-dollar-sign {
    color: #5f5f5f;
}
button.btn.btn-light-3 {
    padding: 10px 20px;
    border-radius: 45px;
    background:#000;
    color:#fff;
    margin-left: 35px;
   
}
.input-group.mb-3 {
    height: 48px;
}
input#datepicker4 {
    height: 48px;
}
input.form-control.date-custom {
    height: 48px;
}
.form-control, input#imgInp {
    height: 48px;
}
input#file {
    opacity: -0.5;
    display:none;
}
i.fas.fa-cloud-upload-alt {
    color: #4d9df1;
    font-size: 38px;
    padding: 15px 0;
    display: block;
}
.new-color-cls{
    background: #30b54e;
    padding: 6px 10px;
    color: #fff;
    border-radius: 3px;
}
.new-color-cls:hover {
    box-shadow: 2px 2px 10px 0px #adadad;
}
.for-scroll{height:630px;}
.card-body{overflow:auto;
height:400px;}


@media screen and (max-width: 1199px) {
.head-part h5 {
    font-size: 16px !important;
}
.input-sec-1 {
    padding: 15px 25px;
}
.new-para h3 {
    padding: 0 20px;
}
}

@media screen and (max-width: 991px) {
.input-sec-1 {
    padding: 15px 25px;
}
i.fas.fa-cloud-upload-alt {
    padding:15px 0 0;
}
}

@media screen and (max-width: 767px) {
.img_cont, .user_img {
    height: 50px;
    width: 50px;
}
.online_icon {
    bottom:0;
}
}